<!-- Right Side Menu -->
<div class="">
    <div class="">
        <h2>{{name}} Groups</h2>
    </div>
    <div class="">
        {{#each groups AS |group|}}
        {{#if type}}
        <button class="" value="{{group.id}}">{{group.group_name}}</button>
        {{/each}}
    </div>
</div>

<!-- Left Side Menu -->
<div class="">
    <form class="new-group-search">
        <label for="group-search">Search for a Group to Join &#128269;</label>
        <input class="" type="text" id="search-group-name" />
    </form>
    <div class="">
        {{#if admin}}
        <div class="table-admin"><span class="">{{user}}</span><span class="">{{}}</span></div>
        {{else}}
            <div class="table-member"><span class="">{{user}}</span></div>
        {{/if}}
        {{groupName}}
    </div>


</div>